button {
    border: none;
    padding: 1em;
    margin: .5em;
    background-color: var(--color-primary);
    transition: .2s;

    &:hover {
        background-color: var(--color-secondary);
    }
}

#btn-back {
    width: 5em;
}